/* General Styles */
body {
    background: rgb(255,24,24);
    background: linear-gradient(90deg, rgba(255,24,24,1) 0%, rgba(251,29,253,1) 50%, rgba(252,246,69,1) 95%);
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: auto;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: rgba(42, 127, 255, 0.615);
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Main Container */
main {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow:auto
}

/* Menu */
.menu {
    background-color: rgba(42, 127, 255, 0.4);
    border: 2px solid rgba(0, 0, 0, 0.615);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.menu h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: rgb(255, 249, 80);
    text-shadow: 
        -6px 5px 0 #000,
        -6px -1px 0 #000,
        -6px 0px 0 #000,
        1px 1px 0 #000;
}

.menu-options {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.menu-options button {
    flex-grow: 1;
    background-color: #c7275cbb;
    color: rgb(255, 249, 80);
    border: 2px solid rgba(0, 0, 0, 0.615);
    border-radius: 8px;
    padding: 10px 20px;
    font-family: "Bungee", sans-serif;
    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,  
        -1px 1px 0 #000,  
        1px 1px 0 #000; 
    font-size: 1.2em;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s, font-size 0.3s;
    width: 40%;
}

.menu-options button:hover {
    background-color: rgba(42, 127, 255, 0.615);
    color: #ffffff;
}

/* Solitaire and Two-Player Game Boards */
.solitaire-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 1000px;
    gap: 10px;
}

.section1 {
    background-color: rgba(42, 127, 255, 0.615);
    padding:20px 30px 20px 30px;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.section1 h1 {
    font-size: 2em;
    color: rgb(255, 249, 80);
    text-shadow: 
        -6px 5px 0 #000,
        -6px -1px 0 #000,
        -6px 0px 0 #000,
        1px 1px 0 #000;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

button {
    height: 10vh;
    width: 10vh;
    font-size: 40px;
    font-weight: bold;
    background-color: #000000;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, opacity 0.3s;
}

button:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.7);
}

.disabled {
    cursor: not-allowed;
    opacity: 50%;
}

button img {
    width: 8vh;
}

#game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 1000px;
    margin: 20px 0;
}

#cpu-game {
    background-color: rgba(42, 127, 255, 0.615);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95vh;
    height: 56vh;
    padding: 20px;
    border-radius: 8px;
}

#cpu-game h1 {
    margin: 1%;
    font-size: 2.3em;
    color: rgb(255, 249, 80);
    text-shadow: 
        -6px 5px 0 #000,
        -6px -1px 0 #000,
        -6px 0px 0 #000,
        1px 1px 0 #000;
}

#cpu-game-board {
    display: grid;
    gap: 1vh;
    grid-template-columns: repeat(8, 1fr);
    justify-content: center;
    max-width: 800px;
    margin-bottom: 10px 0;
} 

.card {
    width: 10vh;
    height: 10vh;
    margin-bottom: 2%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    perspective: 1000px;
    transition: background-color 0.3s, opacity 0.3s, transform 0.6s;
    transform-style: preserve-3d;
}

.card img {
    width: 9vh;
    height: 9vh;
    object-fit: cover;
    display: none;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card.flipped img {
    display: block;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    background-color: rgba(255, 255, 255, 0.208);
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back {
    background-color:rgba(255, 255, 255, 0.208);
}

/* Statistics Section */
.section2 {
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.8);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 45vh;
    font-size: 0.8em;
}

.statistics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.statistics h3 {
    font-size: 1em;
}

.statistics h2 {
    font-size: 1.6em;
}

.player-statistics, .computer-statistics {
    background-color: rgba(255,255,255,0.8);
    border: 1px solid black;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
    width: 35%;
}

.section2 button {
    flex-grow: 1;
    background-color: #c7275cd9;
    color: rgb(255, 249, 80);
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 10px;
    font-family: "Bungee", sans-serif;
    text-shadow: -3px 1px 0 #000, -3px -2px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 1.2em;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s, font-size 0.3s;
    width: 25vh;
}

/* Dice Section for Two-Player Mode */
#dice-and-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vh;
    height: 35vh;
    max-width: 800px;
    background-color:  rgba(42, 127, 255, 0.4);
    border: 1px solid black;
    padding: 2%;
    margin-bottom: 5%;
    border-radius: 8px;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    text-align: center;
    color: rgb(255, 249, 80);
    text-shadow: black;
    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,  
        -1px 1px 0 #000,  
        1px 1px 0 #000; 
}

#dice-and-stats h1 {
    font-size: 2em;
}

#dice-container {
    gap: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

#player-dice-img {
    width: 12vh;
    border-radius: 9px;
}

#cpu-dice-img {
    width: 12vh;
    border-radius: 9px;
}

#dice-and-stats button {
    border-radius: 8px;
    padding: 5px 10px;
    margin: 10px;
    transition: background-color 0.3s, font-size 0.3s;
    width: 52%;
    height: 30%;
    background-color: #c7275cbb;
    color: rgb(255, 249, 80);
    border: 2px solid rgba(0, 0, 0, 0.615);
    font-family: "Bungee", sans-serif;
    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,  
        -1px 1px 0 #000,  
        1px 1px 0 #000; 
    font-size: 1em;
    cursor: pointer;
}

#dice-container button:hover {
    background-color: rgba(42, 127, 255, 0.615);
    color: #ffffff;
}

/* EndGame panel */
#endGamePanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 20px;
    width: 80vh;
    height: 36vh;
    transform: translate(-50%, -50%);
    background-color:  rgb(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    
}   

#endGamePanel h2 {
    font-size: 2.2em; 
    font-weight: bold;
    color: rgb(73, 255, 82, 1);
    text-shadow: 
        0px -1px 0 #000,
        -6px -1px #000,
        -6px 4px 0 #000,
        -6px 2px 0 #000;
    margin-top: 10px;
    margin-bottom: 30px; 
}

#endGamePanel button {
    background-color: rgb(255, 64, 186, 1);
    font-family: 'Bungee';
    color: yellow;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,  
        -1px 1px 0 #000,  
        1px 1px 0 #000; ;
    border: 2px solid black;
    border-radius: 5px;
    width: 42vh;
    padding: 10px 50px;
    font-size: 18px;
    cursor: pointer;
    margin: 8px 0; 
    transition: background-color 0.3s ease;
    max-width: 280px; 
}

#endGamePanel button:hover {
    background-color: rgb(196, 0, 180);
}

.hidden {
    display: none;
}

/* Adjustments for Smaller Screens */
@media (min-width: 1024px) {

    .menu-options button {
        width: 60%;
        font-size: 1em;
    }
    #dice-and-stats h1 {
        font-size: 1.9em;
    }
    #dice-and-stats h2 {
        font-size: 1.5em;
    }
    #dice-stats button {
        width: 9vh;
        height: auto;
    }
    #player-dice img {
        width: 10vh;
    }

    #cpu-dice img {
        width: 10vh;
    }
}

@media (max-width: 768px) {
     body {
        margin: auto;
        padding: auto;
    }

    /*Menu*/
    .menu, .solitaire-container, #game-container {
        flex-direction: column;
        align-items: center;
    }

    .menu h1 {
        font-size: 1.2em;
    }

    .menu-options button {
        width: 60%;
        height: 60%;
        font-size: 0.9em;
    }
    /*SOLITARIO*/
    .section1, .section-board {
        width: 40vh;
        max-width: 600px;
    }

    .section1 h1 {
        font-size: 1.2em;
    }

    .section1 button {
        width: 6vh;
        height: 6vh;
    }

    button img {
        width: 5vh;
    }

    .section2 {
        width: 35vh;
        height: 35vh;
    }

    .section2 h2 {
        font-size: 1em;
        margin: 6%;

    }

    .section2 button {
        width: 30vh;
    }

    /*CPU*/
    #dice-and-stats {
        width: 30vh;
        height: 20vh;
        padding: 3vh;
        margin: 2vh;
    }

    #dice-and-stats h1 {
        font-size: 1em;
    }
    #player-dice h2 {
        font-size: 0.5em;
    }

    #player-dice img {
        width: 4vh
    }

    #cpu-dice h2{
        font-size: 0.5em;
    }

    #dice-and-stats button{
        font-size: 0.5em;
    }

    #cpu-dice img {
        width: 4vh;
    }

    #cpu-game {
        width: 45vh;
        height: 30vh;
        gap: 1vh;
    }
    
    #cpu-game h1 {
        padding: 0;
        margin: 3%;
        font-size: 1.3em !important;
    }

    .card {
        width: 4.3vh;
        height: 4.3vh;
    }

    .card img {
        width: 3vh;
        height: 3vh;
    }

    .statistics{
        width: 40vh;
    }
    .statistics h2 {
        font-size: 0.6em;
    }

    .statistics h3{
        font-size: 0.5em;
    }
}
